@model IEnumerable<MVC2023_v3._0.Models.Grade>

@{
    ViewData["Title"] = "ShowGrade2";
}

<h1>Students</h1>
<h3>All grades for a specific semester</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
                Score
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                    <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.GradeCourseStudent)
                    </td>
                    </tr>
        }
    </tbody>
</table>