@model IEnumerable<MVC2023_v3._0.Models.Grade>

@{
    ViewData["Title"] = "EditGrade";
}

<h1>Professors</h1>
<h3>All graded</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                Registration Number
            </th>
            <th>
                Course
            </th>
            <th>
                Score
            </th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("SaveNewGrade", "Professors"))
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                    </td>
                    <td>
                    <input type="text" name="grade" />
                    </td>
                    <td>
                    <input type="hidden" name="regnum" value="@item.RegistrationNumber"/>
                    <input type="hidden" name="idcourse" value="@item.IdCourse"/>
                    <input type="submit" action="SaveNewGrade" value="Save"/>
                    </td>
                    </tr>
        }
        } 
    </tbody>
</table>
            