@model IEnumerable<MVC2023_v3._0.Models.Grade>

@{
    ViewData["Title"] = "EditGrade";
}

<h1>Professors</h1>
<h3>All graded</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                Registration Number
            </th>
            <th>
                Course
            </th>
            <th>
                Score
            </th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="Edit">
        @foreach (var item in Model)
        {
                    <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                    </td>
                    <td>
                    <input type="text" id="grade" name="grade">
                    </td>
                    <td>
                    <a asp-action="SaveNewGrade" asp-route-regnum="@item.RegistrationNumber" asp-route-idcourse="@item.IdCourse" >Save new grade</a>
                    </td>
                    </tr>
        }
        </form>
    </tbody>
</table>