@model IEnumerable<MVC2023_v3._0.Models.Grade>

@{
    ViewData["Title"] = "ShowAllGraded";
}

<h1>Professors</h1>
<h3>All graded</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                Registration Number
            </th>
            <th>
                Course
            </th>
            <th>
                Score
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeCourseStudent)
                </td>
                </tr>
        }
    </tbody>
</table>