@model IEnumerable<MVC2023_v3._0.Models.ProfessorName>

@{
    ViewData["Title"] = "ShowAllCourses";
}

<h1>Students</h1>
<h3>All grades for all courses</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
                Semester
            </th>
            <th>
                Professor
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.CourseSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

            </tr>
        }
    </tbody>
</table>